@import "../../utils/font.scss";

.todoForm {
  position: absolute;
  width: 453px;
  //height: 241px;

  background: #FFFFFF;
  border-radius: 15px;

  margin-top: 122px;
  left: 50%;
  transform: translateX(-50%);

  .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;

    padding-top: 15px;
    margin-bottom: 29px;
    text-align: center;
  }

  .formInput {
    margin: auto;

    display: flex;
    align-items: center;

    padding: 2px;

    background: #00A3FF;
    box-shadow: 0 3px 8px rgba(54, 54, 54, 0.25);
    border-radius: 5px;

    width: 415px;
    height: 60px;

    input {
      width: 350px;
      height: 56px;
      background: #FFFFFF;
      border-radius: 5px;
      border: none;

      padding-left: 12px;

      @include font-size;

      &::placeholder {
        @include font-size;
        color: rgba(206, 206, 206, 0.76);
      }

      &:focus {
        outline: none;
      }
    }
  }

  .add {
    @include font-size;
    font-weight: 600!important;
    color: #fff;

    margin-left: 15px;
    cursor: pointer;
  }
}
