@import "../../../utils/font.scss";

.todoItem {
  width: 415px;
  height: 60px;
  background: #FF5C00;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 10px auto auto auto;

  .text {
    @include font-size();
    font-weight: 500!important;
    color: #fff;

    padding-left: 14px;
  }

  .formInput {
    input {
      background: transparent;
      border: none;

      padding-left: 12px;

      @include font-size;
      color: #fff;

      &::placeholder {
        @include font-size;
        color: rgba(206, 206, 206, 0.76);
      }

      &:focus{
        outline: none;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    padding-right: 9px;

    .edit {
      margin-right: 12px;
    }

    .edit, .delete {
      cursor: pointer;
    }

    .update {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #28ACF7;

      padding: 7px;
      background: #fff;
      border-radius: 5px;
    }
  }
}
